<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <style>
    .card:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      margin-bottom: 54px;
    }
  </style>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Node Authentication</a>
      <a href="/" class="right">Back</a>
    </div>
  </nav>
  <div class="container">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <h1><span class="fa fa-lock"></span>Error while loggin in</h1>
      </div>
    </div>
  </div>
</body>

</html>